<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Create a list of all upcoming things to do and Delete the Older ones</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add Task</a>
</div>